          /* hero style */
/* The hero image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/hero1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 612px;
    width: 100%;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .fw-700{
    font-weight: 700;
  }
  
  .hero-text h1 {
    margin-bottom: 28px;
  }
  h1{
    font-size: 55px;
  }
  
  .hero-text p {
    margin-bottom: 38px;
    font-size: 20px;
  }
  .btn {
    width: 200px;
    margin-left: 30px;
    font-size: 10px;
    align-items: center;
    width: 200px;
  font-size: 15px;
  align-items: center;
  background-color: #f1bf7a;
  color: black;
    border-radius: 30px;
    margin-right: 30px;
    margin-left: 250px;
    width: 160px;
    height: 54px;
    border: none;
    font-family:sans-serif;
    font-weight: bolder;
    line-height: 24px;
    letter-spacing: 0.03em;
    justify-content: center;
  }
              /* Card style */
   .home-sections-p{
    background-color: #7C3626;
 }

 h2{
     margin-bottom: 36px;
     margin-top: 95px;
     /* margin-left: 30px; */
     display: flex;
    align-items: center;
    font-weight: bolder; 
    color: white;
  }
   p{
     margin-bottom: 42px;  
     margin-top: 35px;
     /* margin-left: 30px;  */
     color: white; 
      font-size: 34px;
      font-weight: 500;
      line-height: 34px;
      letter-spacing: 0em; 
 }
 .btn-primary-1 {
  /* width: 200px; */
  margin-left: 30px;
  font-size: 10px;
  /* align-items: center; */
  /* width: 200px; */
font-size: 15px;
align-items: center;
justify-content: center;
background-color: #f1bf7a;
color: black;
  border-radius: 30px;
  margin-right: 30px;
  /* margin-left: 250px; */
  /* width: 160px; */
  height: 54px;
  border: none;
  font-family:sans-serif;
  font-weight: bolder;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
 }
 .btn-primary-1:hover {
  background: #CE9132 !important;
  color: #000000 !important;
}

.row img{
  margin-bottom: 42px;
  margin-top: 75px;
}
           Location */
           .text-center {
            text-align: center !important;
            font-size: 45px;
            font-family: inherit;
          }
           .mapouter {
            position: relative;
            height: 449px;
            width: 100%;
        }

        .gmap_canvas {
            overflow: hidden;
            height: 100%;
            width: 100%;
        }

       .gmap_canvas iframe {
            position: relative;
            z-index: 2;
            border-radius: 15px;
        }

        .gmap_canvas a {
            top: 0;
            z-index: 0;
        }
     
      .fa-map-marker {
          color: #716969;
          font-size: 52px;
      } 
      
     p {
          font-size: 24px;
          font-weight: 500;
          line-height: 34px;
          letter-spacing: 0em;
     }
      
      
      a {
          text-decoration: underline;
          color: #000;
      }
      .Add{
        margin-left: 60px;
        padding: 0px;
        font-size:10px;
        margin-top: 0px;
      }
      /* Testimonials */
      .testimonial {
        background-color: #FFEED4;
      }
      .testimonial .card {
        background-color: #F8E1C0;
        border-radius: 17px;}
        .hero {
          background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/bg-image.png');
          height: 300px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
        }
        .align-items-center {
          align-items: center !important;
        }
        .justify-content-center {
          justify-content: center !important;
        }
        .d-flex {
          display: flex !important;
        }
                /* Transform */
      
      
  