.hero{
    /* background-color: #7c3626; */
}
.bg-color {
    background-color: #7c3626;
    width: 100%;
  }
  
  .mapouter {
    position: relative;
    height: 449px;
    width: 100%;
  }
  
  .gmap_canvas {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  
  .gmap_canvas iframe {
    position: relative;
    z-index: 2;
    border-radius: 15px;
  }
  
  .gmap_canvas a {
    top: 0;
    z-index: 0;
  }
  
  .link {
    color: #fff;
    text-decoration: none;
  }
  
  .map {
    display: block;
  }
  
  .fa-map-marker {
    font-size: 39px;
    color: #675858;
    margin-bottom: 0px;
    padding: 0px;
    margin-top: 15px;
  }
  .text-color {
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .map {
      display: none;
    }
  }
  .img-fluid {
    border-radius: 19px;
}

h2 {
    color: black;
}

.box-1 {
    background-color: #FFEED5;
    border-radius: 7px;
    padding: 46px 60px;
    height: 189px;
}

.box img {
    height: 100px;
}

.pl-91 {
    padding-left: 91px;
}

.ml-91 {
    margin-left: 91px;
}

.ml-47 {
    margin-left: 47px;
}

.pl-33 {
    padding-left: 33px;
}

.pt-43 {
    padding-top: 46px;
}

.ml-26 {
    margin-left: 26px;
}

@media (max-width: 765px) {
    .pl-91 {
        padding-left: 30px;
    }

    .pl-38 {
        padding-left: 15px;
    }
}
h2 {
    color: black;
}

.box-1 {
    background-color: #FFEED5;
    border-radius: 7px;
    padding: 46px 60px;
}

.box img {
    height: 100px;
}

.pl-38 {
    padding-left: 38px;
}

@media (max-width: 765px) {
    .box {
        padding: 22px;
    }

    p {
        font-size: 24px;
        font-weight: 600;
    }

    .pl-91 {
        padding-left: 30px;
    }

    .pl-38 {
        padding-left: 15px;
    }

    .mb-sm-15 {
        margin-bottom: 15px;
    }
}  
.iframe{
    /* width: 100px; */
    height: 200px;
}