.logo {
    max-width: 300px;
    margin-top: 0px;
    padding: 0px;
  }
  /* .top{
    margin-top: -23px;
    margin-left: -23px;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  } */
  /* img {
    vertical-align: middle;
  } */
  /* .mt-4 {
    margin-top: 4px;
  }
  .mb-1 {
    margin-bottom: .25rem !important;
  }
  .mt-4 {
    margin-top: 1.5rem !important;
  } */
  p {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: normal;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
  }
  .footer-links a{
    text-decoration: none;
    color: white;
    list-style: none;
  }
  .footer-links li{
  margin-top: 25px;
}
.footer-links{
  margin-left: 70px;
}
  .social-media-icons img{
    margin: 0px;
    margin-top: 0px;
    padding-top: 0px;
  }
  
  .footer{
    background-color: black;
  }
  .mail{
    text-decoration: none;
  }
  /* .col-lg-8{
    margin-left: 20px;
  } */